<!--  Header-->
<div class="bg-light pt-3 pb-3">

  <div class="container">
    <div class="row pt-2">

      <div class="left col-lg-6 align-items-center justify-content-center">
        <img alt="responsive-image" src="assets/Enel_Group_logo.svg" style="width: 100pt; height: auto">
      </div>

      <div class="right col-lg-6 d-flex justify-content-end">
        <!--      <button (click)="currentUser()" class="btn p-2 utility">-->
        <button class="btn p-2 utility me-1">
          <i class="fa-regular fa-user"></i>
        </button>
        <!--      <button (click)="logOut()" class="btn ms-2 utility">-->
        <button class="btn p-2 utility">
          <i class="fa fa-right-from-bracket"></i>
        </button>
      </div>
      <!--    <div class="ms-5">-->
      <!--      <button class="rounded-5 bg-success border-light-subtle text-light p-1 ps-3 pe-3">-->
      <!--        Your Devices-->
      <!--      </button>-->
      <!--    </div>-->

      <!--    <div class="ms-3">-->
      <!--      <button class="rounded-5 bg-success border-light-subtle text-light p-1 ps-3 pe-3">-->
      <!--        Account Details-->
      <!--      </button>-->
      <!--    </div>-->

    </div>
  </div>
</div>
