<!--  Header-->
<div class="bg-light pt-3 pb-3">

  <div class="container">
    <div class="row pt-2">

      <div class="left col-lg-6 align-items-center justify-content-center">
        <img alt="responsive-image" src="assets/Enel_Group_logo.svg" style="width: 100pt; height: auto">
      </div>

      <div #drop class="dropdown singleDro right col-lg-6 d-flex justify-content-end">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="btn p-2 utility me-1">
          <i class="fa-regular fa-user"></i>
        </button>

        <button (click)="logOut()" class="btn p-2 logout">
          <i class="fa fa-right-from-bracket"></i>
        </button>

        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <div class="gold">
            <div class="m-1 p-1" style="font-size: 11pt">
              <span class="fw-bold">User: </span>
              <p>{{this.getUser().username}}</p>
              <span class="fw-bold">Email: </span>
              <p>{{this.getUser().email}}</p>
            </div>
          </div>
        </mat-menu>
      </div>

    </div>
  </div>
</div>
