<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{device.description}}</h5>
    <p class="card-text">{{device.address}}</p>
    <p class="card-text">{{device.mhec}}</p>
    <p class="card-text cutoff-text">{{device.id}}</p>

    <button mat-icon-button [matMenuTriggerFor]="displayStats" class="btn btn-info me-1">
      <i class="fa-solid fa-gauge-high"></i>
    </button>

    <mat-menu class="my-class bg-info-subtle pt-2" #displayStats="matMenu">
      <ngx-charts-line-chart
        [view]="view"
        [legend]="legend"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="readings"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>

    </mat-menu>

    <form class="row row-cols-sm-auto">
      <div class="col-12">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="calendar"
            (ngModelChange)="onDateChange()"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </form>

  </div>
</div>
