<!--<div class="notification-card">-->
<!--  <div class="notification-header">-->
<!--    <h3 class="notification-title">{{ notification.title }}</h3>-->
<!--  </div>-->
<!--  <div class="notification-body">-->
<!--    <p>{{ notification.message }}</p>-->
<!--  </div>-->
<!--</div>-->
<div class="card-bg">
  <!--  Header-->
  <div class="card-header container">
    <button class="small-btn btn1">
      <i class="fa-solid fa-x"></i>
    </button>
    <button class="small-btn btn2">
      <i class="fa-solid fa-minus"></i>
    </button>
    <button class="small-btn btn3">
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
    </button>
  </div>

  <!--  Body-->
  <div class="card-body m-2">
    <h4>{{notification.title}}</h4>
    <p> {{notification.message}}</p>
  </div>
</div>


